USE [testdb1]
GO
/****** Object:  Table [dbo].[table1]    Script Date: 1/19/2020 11:38:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table1](
	[proper] [nchar](25) NULL,
	[dist] [nchar](15) NULL,
	[mag] [nchar](10) NULL
) ON [PRIMARY]
GO
